<div class="row">
  <div class="page-header col text-end">
    <%= link_to guests_path, class: 'btn btn-secondary' do %>
      All Guests
    <% end %>
    <%= link_to "Edit", edit_guest_path(@guest), class: 'btn btn-primary' if user_signed_in? %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h1><%= @guest.name %></h1>
  </div>
</div>
<p>Table: <%= link_to @guest.table.number, @guest.table, class: 'badge bg-dark' if @guest.table.present? %></p>

