<div class="page-header">
  <%= link_to guests_path, class: 'btn btn-secondary' do %>
    All Guests
  <% end %>
  <%= link_to edit_guest_path(@guest), class: 'btn btn-primary' if user_signed_in? do %>
    Edit
  <% end %>
  <h1>Show guest</h1>
</div>




<dl class="dl-horizontal">
  <dt>Table:</dt>
  <dd><%= link_to(@guest.table.name, table_path(@guest.table)) if @guest.table.present? %></dd>
  <br>
  <dt>Name:</dt>
  <dd><%= @guest.name %></dd>
</dl>
